<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
    	<title>Welcome</title>
		<style>
			.grid {
		  		display: grid;
		  		grid-template-columns: repeat(3, 50px);
		  		grid-gap: 5px;
			}

			.grid div {
		  		width: 50px;
		  		height: 50px;
			}
		</style>
	</head>
	<body>
		<div class="slider-container">
		    <input type="range" id="mySlider" min="0" th:max="${maxTime}-1" value="0"> <!-- Cambiado el value por mí -->
		    <span id="sliderValue">0</span>
		</div>
		<div class="grid" id='gr'>
			<!-- grid simulación -->
		</div>

		<script th:inline="javascript">
			const count = [[${count}]];
			const colors = [[${colors}]];

			function createSquares(){
				var grid = document.getElementById('gr');
				for(var y = 0; y < count; y++){
					for(var x = 0; x < count; x++){
				    	var node = document.createElement("div");
						node.id = x+'-'+y;
				      	grid.appendChild(node);
				    }
				}
				document.getElementsByClassName('grid').item(0).style.gridTemplateColumns = 'repeat('+count+',50px)';
			}

			createSquares();

			const slider = document.getElementById("mySlider");
			const sliderDisplay = document.getElementById("sliderValue");

			slider.addEventListener("input", function() {
				sliderDisplay.textContent = slider.value;

		    	for(var y = 0; y < count; y++){
					for(var x = 0; x < count; x++){
						var node = document.getElementById(x+'-'+y);
						node.style.background = colors[slider.value+'-'+y+'-'+x]??'floralwhite';
					}
				}
			});
		</script>
	</body>
</html>